<html>
    <head>
        <title>Login</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'userauth/style.css' %}">
    </head>
    <body>
        <center>
        <img src ="{% static 'userauth/ddh_logo.png' %}" width = "50%">
        </center>
        <div class="login_div">
            <div>
                
            </div>
            <br>
            <form action="/login/" method="POST">
                {% csrf_token %}
                <div>
                    <label for="{{ form.username.id_for_label }}">Username: </label>{{ form.username }}
                </div>
                <br>
                <div>
                    <label for="{{ form.password.id_for_label }}">Password: </label>{{ form.password }}
                </div>
                <br>
                <input type="submit" name="submit">
            </form>
            <br>
            <div>If you are not yet subscribed, sign up for an <a href = "https://buy.stripe.com/9AQ03Z51QamDgEM001">academic</a> or <a href = "https://buy.stripe.com/cN2g2X79YcuL4W4eUW">commercial</a> license.
            </div>
        </div>
    </body>
</html>
