<html>
    <head>
        <title>Reset Password</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'userauth/style.css' %}">
    </head>
    <body>
    <div class="password_reset_confirm_div">

        {% if validlink %}

        <p>Please enter your new password twice so we can verify you typed it in correctly.</p>

        <form method="post">{% csrf_token %}
        <fieldset class="module aligned">
            <div class="form-row field-password1">
                {{ form.new_password1.errors }}
                <label for="id_new_password1">New password:</label>
                {{ form.new_password1 }}
            </div>
            <div class="form-row field-password2">
                {{ form.new_password2.errors }}
                <label for="id_new_password2">Confirm password:</label>
                {{ form.new_password2 }}
            </div>
            <input type="submit" value="Change my password">
        </fieldset>
        </form>

        {% else %}

        <p>This password reset link has already been used.</p>

        {% endif %}
    </div>

</body>
</html>
