@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap');

.login_div {
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 12pt;
}

a{
  color: #00919f;
}

.password_reset_complete_div {
    text-align: center;
}

.password_reset_confirm_div {
    text-align: center;
}
